@import 'bootstrap';
@import 'fullcalendar';
@import 'dashboard';
@import 'users';

body {
  padding: 0px;
  margin: 0px;
  background-image: url('background.png')
}
.notifications {
  margin: 3px;
  padding: 2px;
  text-align: center;
}
.notice, #notice {
  background-color: rgb(110, 177, 151);
  border-radius: 0.5em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0px auto 1em;
  padding: 1em 1.414em;
  text-align: center;
  display: inline-block;
}
.alert, #alert {
  background-color: rgb(110, 177, 151);
  border-radius: 0.5em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0px auto 1em;
  padding: 1em 1.414em;
  text-align: center;
  display: inline-block;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
  .logout {
    float: right;
  }
}
#calendar {
  margin-top: 20px;
  width:70%;
}
.main {
  width: 20%;
  margin: 0px auto;
  text-align: left;
  h2 {
    text-align: center;
    padding: 2px;
  }
  #error_explanation {
    color: red;
    margin-bottom: 1.5em;
  }
  .field { 
    width: 100%;  
  }
  .field_with_errors {
    input {
      border: 1px solid red;
    }
    input:invalid {
      border: 1px solid red;
    }
  }
  form {
    margin: 5px 0 10px;
    input[type=text] {
      width: 100%;
      padding: 2px;
      margin: 2px;
    }
    input[type=email] {
      width: 100%;
      padding: 2px;
      margin: 2px;
    }
    input:-webkit-autofill {
      box-shadow: 0 0 0 50px;
      -webkit-box-shadow: 0 0 0 50px rgb(110, 177, 151) inset;   
    }
    input[type=password] {
      width: 100%;
      padding: 2px;
      margin: 2px;
    }
    input[type=submit] {
      width: 100%;
      background-color: rgb(110, 177, 151);
      padding: 2px;
      margin: 2px;
    }
    input[type=submit]:hover {
      background-color: rgb(61, 170, 128);
    }
  }
  .actions {
    margin-top: 10px;
  }
}