.user-table {
  margin: 1em auto 3em;
  .row {
    padding: 5px;
    margin: 4px;
    border-bottom: 1px solid black;
  }
  .user-info {
    vertical-align: middle;
    p {
      margin: 1px;
    }
  }
}
ul {
  list-style: none;
  li {
    float: right;
    margin: 0px 5px;
  }
}
a {
  color: rgb(110, 177, 151);
}
a:hover {
  color: rgb(61, 170, 128);
}
.js-create-events {
  display: block;
  width: 20%;
  background-color: rgb(110, 177, 151);
  color: black;
}
.js-create-events:hover {
  background-color: rgb(61, 170, 128);
  color: black;
}